.launchStatus {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --bg-one: grey;
  --bg-two: lightgrey;

  background: repeating-linear-gradient(
    45deg,
    var(--bg-one),
    var(--bg-one) 0.75rem,
    var(--bg-two) 0.75rem,
    var(--bg-two) 1.5rem
  );

  p {
    background-color: var(--bg-one);
    padding: 0 0.5rem;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    text-shadow: 2px 2px 2px var(--bg-two);
  }

  &.success {
    --bg-one: rgb(32, 136, 32);
    --bg-two: rgb(27, 116, 27);
  }

  &.failed {
    --bg-one: rgb(246, 55, 55);
    --bg-two: rgb(205, 46, 46);
  }
}
