.separator {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    gap: 0.5rem;

    > p {
        flex: 1;
    }

    &:after,
    &:before {
        content: "//////////////////////////////////////////////////////";
        overflow: hidden;
        white-space: nowrap;
        color: grey;
    }
}
